// MOBILE VERSION

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  text-align: right;

  #github{
    width: 15%;
    margin-right: 10px;
  }

  #logo{
    width: 30%;
  }
}


//--------------------------------------------
// DESKTOP DISPLAY


footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  width: auto;

  #github, #logo{
    max-height: 100%;
  }

  #github{
    opacity: 0.6;
  }
  #github:hover{
    opacity: 1;
  }
}
