// HIDE CLASS
.hide{
	display: none;
}

// PLAYERS SCREENS
.player-box{
	background: $passive-player;
}


.active-player {
	background: $active-player;
	transition: all ease-in .5s;

	.player-name::after,
	.player-name::before {
		display: inline-block;
		background: $light-purple;
		box-shadow: 0 0 20px 5px hsla(267, 100%, 62%, 1);
		width: 0.2em;
		height: 100%;
		content: "";
		margin: 0 1em 0 0.8em;
		transition: all ease-in .5s;
	}
}

// PLAYERS INFOS
.player-name {
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 10px;
	font-size: 1.8em;
	line-height: 1.2em;

	@include row-center;
}

.total-score {
	font-weight: 400;
	color: $purple;
	font-size: 3em;
}

.current-score-title {
	text-transform: uppercase;
	font-weight: 100;
}

.current-score-number {
	color: $light-purple;
	font-size: 2em;
	font-weight: 300;
}

//DICE
.dice {
	height: 150px;
	width: 150px;
	background: $light-grey;
	border-radius: 20px;
	box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.355);
}


@media (min-width: 1024px) {
	.player-name {
		font-size: 2.5em;
	}

	.total-score {
		font-size: 5em;
	}

	.current-score-title {
		font-size: 1.5em;
	}

	.current-score-number {
		font-size: 2.5em;
	}

	.dice {
		height: 200px;
		width: 200px;
	}
}
