// MOBILE DISPLAY

.welcome {
	height: 100%;
	width: 100%;
	color: white;

	@include column-center-evenly;
}

header {
	width: 100%;
	height: 10%;
	@include column-center-evenly;

	> .welcome-logo {
		width: 50%;
	}
}

.rules {
	padding: 1em;

	@include welcome-box;
	@include column-center-evenly;
}

.game-btns {
	height: auto;
	padding-left: 1em;

	@include welcome-box;
	@include column-center;
}

.game-btn {
	width: 100%;
	@include row-start;
}

.btn-icon {
	width: 15%;
	margin-right: 10px;
}

.playersnames {
	pad: 1em;
	width: 80%;

	@include column-center-evenly;
}

form {
	@include column-center;
	width: 80%;

	input {
		width: 100%;
		height: 40px;
		border-radius: 15px;
		margin-top: 10px;
		background: hsla(221, 42%, 91%, 0.2);
		color: white;
		text-align: center;
		border: none;
		font-size: 1em;

		&::placeholder {
			color: $light-grey;
		}

		&:focus {
			background: hsla(221, 42%, 91%, 0.5);
			outline: none;
		}
	}
}

.launchgame{
	padding: 1em;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	color: $light-grey;
	background: $dark-grey;
	font-weight: 700;
	font-size: 1.2em;
	text-transform: uppercase;
	transition: background ease-out .5s;

	&:hover{
		background: $purple;
	}
}

//--------------------------------------------
// DESKTOP DISPLAY
@media (min-width: 1000px) {
	.welcome {
		height: 100%;
		width: 80%;
		margin: auto;
	}

	.welcome-logo {
		height: 100%;
	}

	.rules,
	.game-btns,
	.form {
		width: 50%;
	}

	form input {
		width: 50%;
	}
}
