*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "lato", sans-serif;
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:active {
  color: inherit;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: #1e272e;
}

.game {
  height: 100%;
  width: 100%;
}

.players-container {
  height: 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-box {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-box .player-infos {
  height: 80%;
  width: 100%;
  color: white;
}

.column-centered {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.column-reversed {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.player-infos--total {
  height: auto;
  width: 90%;
}

.player-infos--current {
  height: auto;
  width: auto;
  padding: 1.2em;
  background: #637582;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 1024px) {
  .players-container {
    flex-direction: row;
  }
  .player-box {
    height: 100%;
    width: 50%;
  }
  .player-infos,
.player-infos--total {
    justify-content: space-evenly;
    flex-direction: column;
  }
  .game-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
}
.welcome {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
header > .welcome-logo {
  width: 50%;
}

.rules {
  padding: 1em;
  width: 80%;
  background: #2a3238;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game-btns {
  height: auto;
  padding-left: 1em;
  width: 80%;
  background: #2a3238;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn-icon {
  width: 15%;
  margin-right: 10px;
}

.playersnames {
  pad: 1em;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
form input {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  margin-top: 10px;
  background: hsla(221deg, 42%, 91%, 0.2);
  color: white;
  text-align: center;
  border: none;
  font-size: 1em;
}
form input::-moz-placeholder {
  color: #dfe5f2;
}
form input:-ms-input-placeholder {
  color: #dfe5f2;
}
form input::placeholder {
  color: #dfe5f2;
}
form input:focus {
  background: hsla(221deg, 42%, 91%, 0.5);
  outline: none;
}

.launchgame {
  padding: 1em;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: #dfe5f2;
  background: #78838b;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: background ease-out 0.5s;
}
.launchgame:hover {
  background: #933cff;
}

@media (min-width: 1000px) {
  .welcome {
    height: 100%;
    width: 80%;
    margin: auto;
  }
  .welcome-logo {
    height: 100%;
  }
  .rules,
.game-btns,
.form {
    width: 50%;
  }
  form input {
    width: 50%;
  }
}
.hide {
  display: none;
}

.player-box {
  background: #1e272e;
}

.active-player {
  background: #2a3238;
  transition: all ease-in 0.5s;
}
.active-player .player-name::after,
.active-player .player-name::before {
  display: inline-block;
  background: #cea6ff;
  box-shadow: 0 0 20px 5px hsl(267deg, 100%, 62%);
  width: 0.2em;
  height: 100%;
  content: "";
  margin: 0 1em 0 0.8em;
  transition: all ease-in 0.5s;
}

.winner {
  background: rgba(148, 61, 255, 0.301);
}

.player-name {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 10px;
  font-size: 1.8em;
  line-height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-score {
  font-weight: 400;
  color: #933cff;
  font-size: 3em;
}

.current-score-title {
  text-transform: uppercase;
  font-weight: 100;
}

.current-score-number {
  color: #cea6ff;
  font-size: 2em;
  font-weight: 300;
}

.dice {
  height: 150px;
  width: 150px;
  background: #dfe5f2;
  border-radius: 20px;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.355);
}

@media (min-width: 1024px) {
  .player-name {
    font-size: 2.5em;
  }
  .total-score {
    font-size: 5em;
  }
  .current-score-title {
    font-size: 1.5em;
  }
  .current-score-number {
    font-size: 2.5em;
  }
  .dice {
    height: 200px;
    width: 200px;
  }
}
.new-game {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 25px;
  border: none;
  background: #dfe5f2;
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-game .new-game-text {
  display: none;
}

.game-button {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background: #933cff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.roll {
  background-image: url(/images/icons/dice.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.save {
  background-image: url(/images/icons/save.svg);
}

@media (min-width: 1024px) {
  .new-game .new-game-text {
    max-width: 0;
    transition: max-width 1s;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
  }
  .new-game-text {
    font-size: 0.5em;
  }
  .new-game:hover .new-game-text {
    max-width: 7rem;
  }
  .game-button {
    transition: all 0.2s ease;
    cursor: pointer;
    opacity: 0.9;
    height: 100px;
    width: 100px;
  }
  .game-button:hover {
    opacity: 1;
    box-shadow: 0 0 20px hsla(267deg, 100%, 62%, 0.7);
  }
  .game-button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transform: translateY(2px);
    filter: brightness(0.9);
  }
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  text-align: right;
  padding: 0 10px 10px 0;
}
footer #github {
  width: 15%;
  margin-right: 10px;
}
footer #logo {
  width: 30%;
}

@media (min-width: 1024px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    width: auto;
  }
  footer #github,
footer #logo {
    max-height: 100%;
  }
  footer #github {
    opacity: 0.6;
  }
  footer #github:hover {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */