body {
	height: 100vh;
	width: 100vw;
}

// MOBILE DISPLAY (COLUMN)

.players-container {
	height: 100%;
	width: 100%;
	z-index: -1;

	@include column-center;
}

.player-box {
	height: 50%;
	width: 100%;

	@include column-center;

	.player-infos {
		height: 80%;
		width: 100%;
		color: white;
	}
}

.column-centered {
	@include column-center-top;
}
.column-reversed {
	@include column-center-top-reverse;
}

.player-infos--total {
	height: auto;
	width: 90%;
}

.player-infos--current {
	height: auto;
	width: auto;
	padding: 1.2em;
	background: $grey;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;

	@include column-center;
}

.game-container {
	width: 100%;
	height: 20%;
	position: absolute;
	top: calc((50% - 10%));

	@include row-space-evenly;
}

//--------------------------------------------
// DESKTOP DISPLAY (ROW)
@media (min-width: 1000px) {
	.players-container{
		flex-direction: row;
	}

	.player-box{
		height: 100%;
		width: 50%;
	}
}