*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: "lato", sans-serif;
	margin: 0;
}

ol,
ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;

	&:visited {
		color: inherit;
	}

	&:active {
		color: inherit;
	}
}
